<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ls.weathermodule">

    <application android:theme="@style/AppTheme">
        <activity android:name=".activity.WeatherListActivity">
        </activity>
    </application>

</manifest>